<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT vote ANY>
<!ATTLIST vote id ID #REQUIRED>
<!ELEMENT clubs ANY>
<!ATTLIST clubs id ID #REQUIRED>
<!ELEMENT club ANY>
<!ATTLIST club id ID #REQUIRED>
<!ELEMENT teams ANY>
<!ATTLIST teams id ID #REQUIRED>
<!ELEMENT team ANY>
<!ATTLIST team id ID #REQUIRED>
<!ELEMENT players ANY>
<!ATTLIST players id ID #REQUIRED>
<!ELEMENT player ANY>
<!ATTLIST player id ID #REQUIRED>
<!ELEMENT matches ANY>
<!ATTLIST matches id ID #REQUIRED>
<!ELEMENT match ANY>
<!ATTLIST match id ID #REQUIRED>
]>
<root id="-1">
  <clubs id="1071" key="5b622a23-cd83-428e-ad0f-4454dbbf09f9" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-05-10T18:05:24" updateDate="2018-05-10T18:06:12" nodeName="FC Example (Clubs document type)" urlName="fc-example-clubs-document-type" path="-1,1071" isDoc="" nodeType="1051" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="clubs" isPublished="true">
    <club id="1072" key="ded7946e-0860-471e-a37e-b2d8a63f1172" parentID="1071" level="2" creatorID="0" sortOrder="0" createDate="2018-05-10T18:06:59" updateDate="2018-05-10T18:06:59" nodeName="Example FC" urlName="example-fc" path="-1,1071,1072" isDoc="" nodeType="1054" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="club" isPublished="true">
      <clubTitle><![CDATA[Example FC]]></clubTitle>
      <clubDescription><![CDATA[dis club is a tet]]></clubDescription>
      <teams id="1073" key="95a1a590-7991-40de-a482-b5aa5f1d3e6f" parentID="1072" level="3" creatorID="0" sortOrder="0" createDate="2018-05-10T18:07:13" updateDate="2018-05-10T18:07:13" nodeName="Example FC teams" urlName="example-fc-teams" path="-1,1071,1072,1073" isDoc="" nodeType="1055" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="teams" isPublished="true">
        <team id="1074" key="1168841d-e348-4b69-be99-35625b818f93" parentID="1073" level="4" creatorID="0" sortOrder="0" createDate="2018-05-10T18:07:48" updateDate="2018-05-10T18:07:48" nodeName="Youth team" urlName="youth-team" path="-1,1071,1072,1073,1074" isDoc="" nodeType="1058" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="team" isPublished="true">
          <teamName><![CDATA[Youth Team]]></teamName>
          <teamDescription><![CDATA[Here the little children play from the ages 6 to 12]]></teamDescription>
          <matches id="1075" key="96427098-f58f-4266-93a4-f6f4cdec7467" parentID="1074" level="5" creatorID="0" sortOrder="0" createDate="2018-05-10T18:09:01" updateDate="2018-05-10T18:09:01" nodeName="Matches Example" urlName="matches-example" path="-1,1071,1072,1073,1074,1075" isDoc="" nodeType="1064" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="matches" isPublished="true" />
          <players id="1076" key="a0fc70fa-7b70-4ee7-9a16-0d5c43109cba" parentID="1074" level="5" creatorID="0" sortOrder="1" createDate="2018-05-10T18:09:16" updateDate="2018-05-10T18:09:16" nodeName="Youth Team players" urlName="youth-team-players" path="-1,1071,1072,1073,1074,1076" isDoc="" nodeType="1059" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="players" isPublished="true">
            <player id="1078" key="8c5afc76-4f11-4141-a13d-e41e0fd4598b" parentID="1076" level="6" creatorID="0" sortOrder="0" createDate="2018-05-10T18:11:11" updateDate="2018-05-10T18:11:11" nodeName="James Kennedy" urlName="james-kennedy" path="-1,1071,1072,1073,1074,1076,1078" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[James]]></firstName>
              <lastName><![CDATA[Kennedy]]></lastName>
              <jerseyNumber>23</jerseyNumber>
            </player>
            <player id="1079" key="aaa056e9-e6dc-4c6d-a573-282bc204a0ad" parentID="1076" level="6" creatorID="0" sortOrder="1" createDate="2018-05-10T18:11:30" updateDate="2018-05-10T18:11:30" nodeName="Mike Jones" urlName="mike-jones" path="-1,1071,1072,1073,1074,1076,1079" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Mike]]></firstName>
              <lastName><![CDATA[Jones]]></lastName>
              <jerseyNumber>45</jerseyNumber>
            </player>
            <player id="1080" key="5d829150-9029-415d-9333-99c90446305a" parentID="1076" level="6" creatorID="0" sortOrder="2" createDate="2018-05-10T18:11:45" updateDate="2018-05-10T18:11:45" nodeName="Nate Florian" urlName="nate-florian" path="-1,1071,1072,1073,1074,1076,1080" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Nate]]></firstName>
              <lastName><![CDATA[Florian]]></lastName>
              <jerseyNumber>22</jerseyNumber>
            </player>
            <player id="1081" key="42d86ab2-db9e-46b2-89e7-4eaa70b56c93" parentID="1076" level="6" creatorID="0" sortOrder="3" createDate="2018-05-10T18:12:28" updateDate="2018-05-10T18:12:28" nodeName="Stan Mathers" urlName="stan-mathers" path="-1,1071,1072,1073,1074,1076,1081" isDoc="" nodeType="1063" creatorName="kristian pospis" writerName="kristian pospis" writerID="0" template="0" nodeTypeAlias="player" isPublished="true">
              <firstName><![CDATA[Stan]]></firstName>
              <lastName><![CDATA[Mathers]]></lastName>
              <jerseyNumber>94</jerseyNumber>
            </player>
          </players>
        </team>
      </teams>
    </club>
  </clubs>
</root>